{% block header %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <div align="center" style="margin-top:35px;"><a href="/"><button type="button" class="btn btn-primary">Back to latest</button></a></div>
{% endblock %}
{% block body %}
 
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <div id="chart_div"  style="width: 900px; height: 500px;"><div>
 
 
<script type='text/javascript'>//<![CDATA[ 
 
google.load('visualization', '1', {packages: ['corechart', 'bar']});
google.setOnLoadCallback(drawBasic);
 
function drawBasic() {
 
      var data = google.visualization.arrayToDataTable([
        ['Currency', 'Rate', { role: 'style' }],
        ['USD', {{rates[0]}}, 'gold'],
        ['GBP', {{rates[1]}}, 'silver'],
        ['HKD', {{rates[2]}}, 'brown'],
        ['AUD', {{rates[3]}}, 'blue'],
        ['SEK', {{rates[1]}}, 'red'],
        ['JPY', {{rates[2]}}, 'yellow'],
        ['NOK', {{rates[3]}}, 'orange'],
      ]);


 
      var options = {
        title: 'Exchange rate overview',
        chartArea: {width: '50%'},
        hAxis: {
          title: '',
          minValue: 0
        },
        vAxis: {
          title: ''
        }
      };
 
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
 
      chart.draw(data, options);
    }
//]]>  
 
</script>
 
 
{% endblock %}